* {color: LimeGreen;
font-family: 'courier';
/*
font-variant: small-caps;
font-weight: bold;
font-stretch: ultra-expanded;
*/
}

ul {
  padding-left: 80px;
  align-self: auto;
}

a {
  text-decoration: none;
  padding: 30px;
}
a:focus {background-color: black}

img.animated-gif{
  width: 30%;
  height: auto;
  padding-left: 50px;
}

p.ufsb {color: black}
