* {color: LimeGreen;
font-family: 'courier';
/*
font-variant: small-caps;
font-weight: bold;
font-stretch: ultra-expanded;
*/
}

ul {
  padding-left: 80px;
  align-self: auto;
}

a {
  text-decoration: none;
  padding: 30px;
}
a:focus {background-color: black}

img.animated-gif{
  width: 30%;
  height: auto;
  padding-left: 50px;
}

p.ufsb {color: black}

html, body {
  height: 100%;
  margin: 0;
  margin-top: 0.1em;
  margin-left: 0.4em;
}

div.forside1 {
  min-height: 100%;
  margin-bottom: -5.5em;
}

div.forside1:after{
  content: "";
  display: block;
}

footer.forside1 {height: 1em}
